mixin card(title, desc) 
    .col-lg-4.col-md-6.col-sm-6.card-parent
        .card(class="card-custom")
            .card-body 
                .card-icon(class="card-custom__icon")
                    img(src="../assets/images/featured-item-01.png" alt="card-img") 
                h5.card-title(class="card-custom__title")= title
                p.card-text(class="card-custom__text")= desc

mixin features(img, alt,title,text )
    .row(class!=attributes.class).align-items-center
        .col-lg-5.col-md-12.col-sm-12.features
            img(src= img alt= alt class= "features__img")(data_img!=attributes.data_img)
        .col-lg-1 
        .col-lg-6(class="col-md-12 col-sm-12 ")
            .features__info
                .features__info-heading
                    h2= title
                .features__info-text 
                    p= text 

mixin headings(title, text)
    .row 
        .heading 
            .col-lg-12.heading__title 
                h2= title
            .col-lg-6.heading__desc
                p= text

mixin box(title,desc)  
        .col-lg-2.col-md-3.col-sm-6.col-custom
            a.box(href="#") 
                i.box__img
                    img(src="./assets/images/work-process-item-01.png" alt="item-01")
                span.box__title= title
                span.box__text= desc
mixin team-content(text,author)
        .col-lg-4.col-md-6.col-sm-12 
            .team 
                .team__content 
                    i.team__content-icon 
                        img(src="./assets/images/team-icon.png", alt="team-icon")
                    p.team__content-text= text 
                    .team__content-user 
                        img(src="./assets/images/avatar.jpg" class="user__avatar")
                        .user__info 
                            h3.user__info-name= author
                            case author 
                                when "Catherine Soft"
                                    p.user__info-role Managing Director
                                when "Kelvin Wood"
                                    p.user__info-role Digital Marketer
                                when "David Martin"
                                    p.user__info-role Website Managers
                                default 
                                    p.user__info-role Hieu Luu
                                    
mixin pricing(title,price,number1,number2)
    .col-lg-4.col-md-6.col-sm-12(class!=attributes.class) 
        .pricing
            h3.pricing__header= title
            .pricing__wrap(active!=attributes.active) 
                span.pricing__wrap-currency= "$" 
                span.pricing__wrap-number= price
                span.pricing__wrap-month monthly
            ul.pricing__list
                each item in listPricing 
                    if (item=== "GB space")
                        li.pricing__list-item.active= `${number1} ${item}`
                    else if( item==="GB transfer")
                        li.pricing__list-item.active= `${number2} ${item}`
                    else if (title=== "Advanced")
                        li.pricing__list-item.active= item
                    else if (item==="Pro Design Panel")
                        li.pricing__list-item.active= item
                    else if(title==="Premium" && item==="15-minute support")
                        li.pricing__list-item.active= item
                    else 
                        li.pricing__list-item= item
            a(href="#" class="btn") Purchase now 

mixin counter(number,text) 
    .col-lg-3.col-md-6.col-sm-12
        .counter__content-item(class!=attributes.class)
            span.item__number= number
            span.item__text= text

mixin blogCard(img,title,text) 
    .col-lg-4.col-md-6.col-sm-12(class!=attributes.class)
        .blog__post 
            .blog__post-img
                img(src=`./assets/images/${img}`  alt= img )
            .blog__post-content
                h3.content__title= title
                p.content__desc= text
            a.btn Read more